/* Import Tailwind CSS and animation utilities */
@import "tailwindcss";
@import "tw-animate-css";

:root {
  /* Root variables for colors, backgrounds, and theme */
  --dark-background: radial-gradient(
    circle at center,
    #0b0f19 0%,
    #020617 100%
  );
  --primary-color: #6366f1;
  --primary-bg: hsla(239, 85%, 67%, 0.226);
  --secondary-color: #06b6d4;
  --secondary-bg: #06b5d434;
  --accent-color: #a855f7;
  --accent-bg: #a955f731;
  --text-foreground: #f1f5f9;

  --card: #0b111e;
  --muted-foreground: #94a3b8;
  --muted: hsl(217.2 32.6% 17.5%);
  --border-dark: hsl(217, 33%, 17%);
  --destructive: hsl(0 62.8% 30.6%);

  --light-background: hsl(210 22% 98%);
  --light-text: hsl(215 20% 10%);
  --light-card: #ffffff;
  --border: hsl(214.3 31.8% 91.4%);
}

/* Custom variant for dark mode */
@custom-variant dark (&:is(.dark *));

/* General Styles */
body {
  background: var(--dark-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-foreground);
  color: var(--text-foreground);
}


p {
  color: var(--muted-foreground);
  /* Container utility class for layout */
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  /* Badge styles for skill tags */
}

.badge {
  font-size: 13px;
  font-weight: 600;
}

.badge__text-foreground {
  color: var(--text-foreground);
}

.badge__secondary-color {
  background-color: var(--secondary-color);
}

.badge__text-primary-color {
  color: var(--primary-color);
}

.badge__text-secondary-color {
  color: var(--secondary-color);
}

.badge__text-accent-color {
  color: var(--accent-color);
}

.badge__primary-bg {
  background-color: var(--primary-bg);
  border: 1px solid var(--primary-color);
}

.badge__secondary-bg {
  background-color: var(--secondary-bg);
  border: 1px solid var(--secondary-color);
}

.badge__accent-bg {
  background-color: var(--accent-bg);
  border: 1px solid var(--accent-color);
  /* Button backgrounds */
}

.bg-primary {
  color: var(--text-foreground);
  background-color: var(--primary-color);
}

.bg-dark {
  color: var(--text-foreground);
  background-color: var(--dark-background);
  border: 1px solid var(--muted);
  transition: 400ms ease;
}

.bg-dark:hover {
  background-color: var(--primary-color);
  /* Navbar Styles */
}

/* Navbar Styles */
nav {
  color: var(--text-foreground);
  background: var(--dark-background);
  border-bottom: 2px solid var(--border-dark);
}

.nav__link {
  color: var(--muted-foreground);
  font-weight: 500;
}

.active {
  color: var(--primary-color);
}

.nav__icon--theme {
  /* Footer Styles */
  color: var(--muted-foreground);
}

/* Footer Styles */
footer {
  background: var(--dark-background);
  border-top: 2px solid var(--border-dark);
}

.footer__social--media-icon {
  color: var(--muted-foreground);
}
